.app {
  text-align: center;
  padding: 20px;
}

.dark {
  background: #121212;
  color: white;
}

.banner {
  width: 60%;
  border-radius: 10px;
}

.thumb {
  width: 80px;
  margin: 5px;
  cursor: pointer;
}

input, button {
  margin: 5px;
  padding: 8px;
}
